.change-color {
  font-size: 14px;
  font-weight: bold;
  animation: colorchange 5s infinite;
}

@keyframes colorchange {
  0% {
    color: red;
  }
  50% {
    color: rgb(22, 216, 48);
  }
  100% {
    color: blue;
  }
}

img {
  background-color: #f5f5f5;
  box-shadow: 10px 10px 10px #966d6d;
  animation: colorchange-img 5s infinite;
}
/* not working */
@keyframes colorchange-img {
  0% {
    box-shadow: red;
  }
  50% {
    box-shadow: rgb(22, 216, 48);
  }
  100% {
    box-shadow: blue;
  }
}